@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @tailwind base; @tailwind components; @tailwind utilities; */

:root {
  --foreground-rgb: #3d6bbb;
  --background-end-rgb: #3f4fd5;
  --background-start-rgb: #8c52e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #eee;
    --background-end-rgb: #2e2e2e;
    --background-start-rgb: #1e1e1e;
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
